<form class="form-horizontal" novalidate ng-submit="send()" name="createCompanyForm">
    <div class="form-group validation-group">
        <label class="col col-sm-2 control-label firstLetterUp" translate="common.company.NAME"></label>
        <div class="col col-sm-10">
            <input name="name"  class="form-control firstLetterUp" placeholder="{{'common.company.NAME_PLACEHOLDER' | translate}}"
                   type="text" ng-model="newCompany.companyName"  validation="required|remote:checkCompanynameUsed"/>
        </div>
    </div>
<!--    <div class="form-group validation-group">
        <label  class="col col-sm-2">Numer telefonu:</label>
        <div class="col col-sm-10">
            <input name="phone"  class="form-control" placeholder="Phone number..."
                   type="text" ng-model="newCompany.phoneNumber" />
        </div>
    </div>-->
    <div class="form-group validation-group">
        <label  class="col col-sm-2 control-label firstLetterUp" translate="common.company.ADDRESS"></label>
        <div class="col col-sm-10">
            <textarea name="address"  class="form-control" placeholder="{{'common.company.ADDRESS_PLACEHOLDER ' | translate}}"
                      type="text" ng-model="newCompany.address" validation="required">
            </textarea>
        </div>
    </div>
<button type="submit" class="btn-lg btn-success pull-right" translate="components.company.register_button"></button>
</form>

