<div>  
    <div>
        <div class="form-group validation-group pull-right">
            <div class="col col-sm-12">
                <div class="col col-sm-6" date-picker date="filter.dateFrom" placeholder="filter.dateFrom"></div>
                <div class="col col-sm-6" date-picker date="filter.dateTo" placeholder="filter.dateTo"></div>
            </div>
            <div class="col col-sm-6">
                <input class="form-control" id="status" name="status" ng-model="filter.phrase" placeholder="{{'components.practice.list.filterPlaceholder'|translate}}">
            </div>
            <div class="col col-sm-6">
                <select class="form-control" id="status" name="status" ng-model="filter.status">
                    <option value="" selected translate="status.ALL"></option>
                    <option ng-repeat="status in availableStatuses" value="{{status}}">{{'status.' + status| translate}}</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table table-bordered activeTable">
        <thead>
        <th class="firstLetterUp" translate="components.practice.start"></th>
        <th class="firstLetterUp" translate="components.practice.type" ></th>
        <th class="firstLetterUp" translate="components.practice.status" ></th>
        <th class="firstLetterUp visible-lg " translate="components.practice.student_login"></th>
        <th class="firstLetterUp visible-lg"  translate="components.practice.student_name"></th>
        <th class="firstLetterUp" translate="components.practice.student_surname"></th>
        <th class="firstLetterUp" translate="components.practice.company_name"> </th>
        <th width="65" class="firstLetterUp" translate="common.actions">  </th>
        </thead>
        <tbody>
            <tr ng-repeat="practice in foundPractices
                                | propsFilter:{status : filter.status} 
                    | propsFilter: {PG_INDEX: filter.phrase, nickName: filter.phrase, companyName :filter.phrase, name: filter.phrase, surname:filter.phrase} 
                    | dateFilter:{dateFrom: filter.dateFrom, dateTo:filter.dateTo, propFrom: 'dateFrom', propTo: 'dateTo'} 
                    | orderBy:'dateFrom' track by $index ">
                <td ui-sref="app.practice.show({practiceId: practice.ID})">
                    {{practice.dateFrom| date : 'customDate'}}            </td>
                <td ui-sref="app.practice.show({practiceId: practice.ID})">
                    {{'work_types.' + practice.type| translate}}            </td>
                <td ui-sref="app.practice.show({practiceId: practice.ID})">
                    <div practice-status status="practice.status"></div>         
                </td>
                <td class="visible-lg" ui-sref="app.practice.show({practiceId: practice.ID})">
                    {{practice.nickName}}            </td>
                <td class="visible-lg" ui-sref="app.practice.show({practiceId: practice.ID})">
                    {{practice.name}}            </td>
                <td ui-sref="app.practice.show({practiceId: practice.ID})">
                    {{practice.surname}}            </td>
                <td ui-sref="app.practice.show({practiceId: practice.ID})">
                    {{practice.companyName}}            </td>
                <td>
                    <div class="btn-group " role="group" aria-label="....">
                        <a class="btn btn-default" ng-click="rejectPractice(practice)" >
                            <i class="fa fa-flag-o" title="Skasuj praktykę"></i>
                        </a>
                        <!--<a class="btn btn-default"  >-->
                        <!--<i class="fa fa-search" title="Podgląd praktyki"></i>-->
                        <!--</a>-->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>