<div>
    <div class="form-group validation-group">
        <label for="name" class="col col-sm-2 col-lg-offset-2 col-lg-2 control-label firstLetterUp" translate="components.practice.employer"></label>
        <div class="col col-sm-10 col-lg-4">
            <select ng-options="company as company.companyName for company in companies| orderBy:'companyName'"  class="form-control" 
                    ng-model="selectedCompany">
                <option value='' disabled selected translate="{{ 'components.practice.employer_placeholder' | translate | capitalizeFirst }}"></option>
            </select>
        </div>
    </div>
    
    
    <div class="pp-panel" ng-if="opinions">
        <div ng-repeat="opinion in opinions">
            <div ng-if="opinion.type == 'DESCRIPTION'">
                <div class="new-header">
                    <button class="btn btn-primary btnTitle col col-sm-8" type="button" ng-click="opinion.isOpen = !opinion.isOpen">
                        <span class="h4">{{'QUESTIONNAIRE.' + opinion.key | translate}}</span>
                    </button>
                </div>
                <hr>
                <div class="new-content" ng-class="{'open' : opinion.isOpen}">
                    <div ng-repeat="value in opinion.values track by $index">
                        {{value}} 
                    </div>
                </div>
            </div>
            <div ng-if="opinion.type == 'STARS'">
                {{'QUESTIONNAIRE.' + opinion.key | translate}} - {{opinion.values}}/5
            </div>
            <div ng-if="opinion.type == 'BOOLEAN'">
                {{'QUESTIONNAIRE.' + opinion.key | translate}}  - {{opinion.values}}%
            </div>
        </div>
    </div>
</div>