<div class="pp-panel">
    <div>
        <div class="col col-sm-12 col-md-12 col-lg-12 no-padding text-center">
            <h2> 
                <p class="label label-danger" ng-if="practice.status === 'REJECTED' && practice.statusMessage" >
                    {{practice.statusMessage}}        
                </p>
            </h2>  

        </div>
        <div class="col col-sm-12 col-md-12 col-lg-6 no-padding text-left">
            <h4 translate="components.practice.show.section.student"></h4>
            <!--<div class="form-horizontal">-->
            <div ng-repeat="(key,value) in practice.student" class="col col-sm-12 col-md-12 form-group no-padding">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp" translate="{{'common.user.' + key}}"></label>
                <div class="col-sm-8 col-md-8 text-left" ng-if="key === 'speciality'">{{'facultities.' + value|translate}}</div>
                <div class="col-sm-8 col-md-8 text-left" ng-if="key !== 'speciality'">{{value}}</div>
            </div>
            <!--</div>-->
        </div>

        <div class="col col-sm-12 col-md-12 col-lg-6 no-padding text-left">
            <h4> {{ 'components.practice.show.section.practice' | translate }}
                <div class="pull-right" practice-status status="practice.status" >  </div>
            </h4>
            <div class="col col-sm-12 col-md-12 no-padding form-group">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp"
                       translate="components.practice.start"></label>
                <div class="col-sm-8 col-md-8 text-left" >{{practice.dateFrom| date : 'customDate'}}</div>
            </div>
            <div class="col col-sm-12 col-md-12 no-padding form-group">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp"
                       translate="components.practice.stop"></label>
                <div class="col-sm-8 col-md-8 text-left" >{{practice.dateTo| date : 'customDate'}}</div>
            </div>
            <div class="col col-sm-12 col-md-12 no-padding form-group" ng-if="practice.bhpEmployee">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp"
                       translate="common.company.BHP_EMPLOYEE"></label>
                <div class="col-sm-8 col-md-8 text-left" >{{practice.bhpEmployee}}</div>
            </div>
            <div class="col col-sm-12 col-md-12 no-padding form-group" ng-if="practice.bhpCity">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp"
                       translate="common.company.BHP_CITY"></label>
                <div class="col-sm-8 col-md-8 text-left" >{{practice.bhpCity}}</div>
            </div>
            <div class="col col-sm-12 col-md-12 no-padding form-group" ng-if="practice.bhpDate">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp"
                       translate="common.company.BHP_DATE"></label>
                <div class="col-sm-8 col-md-8 text-left" >{{practice.bhpDate| date : 'customDate'}}</div>
            </div>
        </div>


        <div class="col col-sm-12 col-md-12 col-lg-6 no-padding text-left">
            <h4 translate="components.practice.show.section.company"></h4>
            <div ng-repeat="(key,value) in practice.company" class="col col-sm-12 col-md-12 no-padding form-group">
                <label class="col-sm-4  col-md-4 control-label text-right firstLetterUp"
                       translate="{{'common.company.' + key}}"></label>
                <div class="col-sm-8 col-md-8 text-left">{{value}}</div>
            </div>
        </div> 
        <div class="col col-sm-12 col-md-12 col-lg-12 no-padding text-left">  
            <h4 translate="components.practice.show.section.description"></h4>
            <div class="col col-sm-12" ng-repeat="description in practice.descriptions">
                <h4>
                    {{'components.practice.show.description.stage' | translate}} {{description.practiceStage}}

                    <div class="pull-right btn btn-info" ng-click="describe(description.PP_ID)" 
                         translate="components.practice.show.button.edit_description" > </div>
                </h4>
                <div class="row"> 
                    <label class=" control-label  col col-md-3 text-right"
                           translate="components.practice.show.description.description"></label>
                    <div class="col col-md-9">{{description.workDescription}} </div>
                </div>
                <div class="row"> 
                    <label class=" control-label  col col-md-3 text-right"
                           translate="components.practice.show.description.skill">  </label>
                    <div class="col col-md-9">
                        <ul> 
                            <li ng-repeat="skill in description.newSkills">
                                {{skill}} 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col col-sm-12 col-md-12 col-lg-12 no-padding text-left">  
            <h4 translate="components.practice.show.section.document"></h4>
            <div class="col col-sm-12" ng-repeat="(index, document) in practice.documents">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-lg fa-file-pdf-o" aria-hidden="true"></i>
                    <span class="sr-only">Error:</span>
                    {{document.name}} 
                    <a style="color: inherit; cursor: pointer">
                        <i class="fa fa-lg fa-remove pull-right" aria-hidden="true" ng-click="removeDocument(document.id, index)"></i>
                    </a>
                    <a style="color: inherit; cursor: pointer" target="_blank" href="{{document.path}}">
                        <i class="fa fa-lg fa-search pull-right" aria-hidden="true"></i>
                    </a>
                    <a style="color: inherit; cursor: pointer" download href="{{document.path}}">
                        <i class="fa fa-lg fa-download pull-right" aria-hidden="true"></i>
                    </a>
                </div>
                <!--Data <a target="_blank" href="{{window.location.origin + '/pdf/' + document.path}}">{{document}}</a>--> 
            </div>
        </div>
        <div>
            <div class="btn-group pull-right">
                <a class="btn btn-info" ng-click="openBHPModal()" ng-if="!practice.bhpDate" translate="components.practice.show.button.BHP"> 
                </a>
                <a class="btn btn-success" ng-click="describe()" translate="components.practice.show.button.new_description" >
                </a>
                <a class="btn btn-info" ng-click="uploadFile()" translate="components.practice.show.button.upload_file">
                </a>
                <div class="btn btn-danger" ng-if="practice.bhpDate" ng-click="practice.status === 'APPROVED' && finishPractice()"
                     ng-disabled="practice.status !== 'APPROVED' || practice.descriptions.length == 0" 
                     translate="components.practice.show.button.finish"> 

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>