<div>
    <form class="form-horizontal" novalidate ng-submit="send()" name="startPracticeForm">
        <div class="form-group validation-group">
            <label  class="col col-sm-2 control-label firstLetterUp" translate="components.practice.start"></label>
            <div class="col col-sm-10" date-picker date="newPractice.dateFrom" max-date="newPractice.dateTo"></div>
        </div>        
        <div class="form-group validation-group">
            <label  class="col col-sm-2 control-label firstLetterUp" translate="components.practice.stop"></label>
            <div class="col col-sm-10" date-picker date="newPractice.dateTo" min-date="newPractice.dateFrom"></div>
        </div>
        <div class="form-group validation-group">
            <label class="control-label col-sm-2 control-label firstLetterUp" translate="components.practice.type" for="type"></label>
            <div class="col-sm-10">
                <select ng-options="type as 'work_types.' +  type |   translate for type in types" class="form-control" 
                        ng-model="newPractice.type" id="type" name="type" validation="required">
                    <option value='' disabled selected ng-if="!newPractice.type" translate="{{ 'components.practice.type_placeholder' | translate | capitalizeFirst }}"></option>
                </select>
            </div>
        </div>
        <div class="form-group validation-group">
            <label for="name" class="col col-sm-2 control-label firstLetterUp" translate="components.practice.employer"></label>
            <div class="col col-sm-10">
                <p class="input-group">
                    <select ng-options="company.id as company.companyName for company in companies| orderBy:'companyName'"  class="form-control" 
                            ng-model="newPractice.companyId"  name="company" validation="required">

                        <option value='' disabled selected ng-if="!newPractice.companyId" translate="{{ 'components.practice.employer_placeholder' | translate | capitalizeFirst }}"></option>
                    </select>
                    <span class="input-group-btn" style="vertical-align: top;">
                        <a  class="btn btn-success" ng-click="openCreationModal()">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </span>
                </p>
            </div>
        </div>
        <button type="submit" ng-disabled="loading" class="btn-lg btn-success pull-right firstLetterUp" translate="components.practice.register" ></button>
    </form>
</div>