<div>
    <table class="table table-bordered">
        <thead>
        <th> Company Name </th>
        <th> Practices</th>
        <th> Hours </th>
        <th> Options </th>
        </thead>
        <tr ng-repeat="company in foundCompanies track by $index">
            <td>                {{company.companyName}}            </td>
            <td>                {{company.practiceCount}}            </td>
            <td>                {{company.hoursSum}}            </td>
            <td>
                <a class="btn btn-default" ng-click="alert('TODO: Wyświetlanie szczegółów pracodawcy');" >
                    <i class="fa fa-remove" title="Show details"></i>
                </a>
            </td>
        </tr>
    </table>
</div>