/* 
    Created on : 2016-05-21, 16:18:43
    Author     : Janusz Sokołow, student Politechniki Gdańskiej
*/


html {
    position: relative;
    min-height: 100%;
}
body {
    min-height: 100%;
    padding-bottom: 80px;
}


#opinion {
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: red;
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 100px;
    text-align: right;
    margin-top: -5px;
    padding-right: 5px;
    z-index: 500;
    font-size: 50px;
    opacity: 0.5;
    transition: width 1s, height 1s, font-size 1s, border-bottom-left-radius 1s, opacity 2s;
}
#opinion:hover {
    opacity: 1;
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 120px;
    font-size: 70px;
}


.activeTable tbody tr {
    cursor: pointer;
}
.activeTable tbody tr:hover {
    color: white;
    background-color: #777;
}

.app {
    margin-top: 50px;
    width: 90%;
}


.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 60px;
    background-color: #f5f5f5;
    color: black;

    padding: 20px;
}

.ui-view-class {
    margin-top: 15px;
}


.modal-content {
    padding: 25px;
}


div[isteven-multi-select] .checkBoxContainer {
    overflow-y: auto;
    max-height: 250px;
}

div[isteven-multi-select] .multiSelect  > button {
    width: 100%;
}

.modal-body textarea {
    resize: none;
}




/*
GROUP User data
*/

.shaped {
    position: fixed;
    top: 0px;
    left: 25%;
    z-index: 9999;
    background-color: black;
    color: white;
    border-radius: 0px 0px 25px 25px;
    opacity : 0.3;
    width: 50%;
    height: 15px;
    padding-top: 15px;
    -webkit-transition: opacity 1s, height 1s;
    transition: opacity 1s, height 1s, border-radius 1s;
    overflow: hidden;
    text-align: center;
}
.shaped:hover {
    /* visibility : vissible */;
    height: 55px;
    border-radius: 0px 0px 55px 55px;
    opacity : 1;
}
.shaped .fa-sign-out {
    margin-right: 35px;
    font-size: x-large;
    margin-top: -5px;
    cursor: pointer;
}

.center-content {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.app .pp-panel > div {
    margin: 5px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 20px;
}

/*
GRUPA klas dyrektywy nowości
*/
.new-panel {
    border-radius: 20px;
    margin: 10px 0px 25px 0px;
    text-align: left;
    border: papayawhip thin ridge;
    background-color: #adadad;
    padding: 10px;
    color: white;
}

@media screen and (min-width: 1200px) {
    .new-panel .btnTitle  {
        max-width: 65%;
    }
}
@media screen and (max-width: 1199px) {
    .new-panel .btnTitle  {
        max-width: 85%;
    }
}






.new-panel .btnTitle {
    text-align: left;
    min-width: 200px;
}
.new-header {
    max-width: 100%;
}
.new-header .btnTitle {
    white-space: normal;
    text-align: left;
}
.new-header .new-author {
    text-align: right;
    padding: 0px;
}

.new-content {
    margin-top: 20px;
    border: none;
    background-color: inherit;
}


.new-content.open > .new-well.faq {
    max-height: 2000px;
}
.new-content > .new-well.faq {
    max-height: 0px;
}
.new-content.open  .new-well {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}
.new-content  .new-well {
    max-height:50px;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
.new-content blockquote {
    border-left-width: 0px;
}

.btn-group.btn-spliced .btn,
.btn-group-vertical.btn-spliced .btn {
    margin: 5px;
}





/*
GRUPA klass formularzy
Zapewnia oddzielenie formularzy odtreści przed i po nich 
*/
.form-group:first-child {
    margin-top: 20px;
}
.form-group:last-child {
    margin-bottom: 20px;
}
.form-group.validation-group {
    min-height: 54px;
    /*margin-bottom: 5px;*/
}
.form-group label.control-label {
    padding-right: 0px;    
    /*display: flex;*/
}
@media screen and (min-width: 992px) {
    .form-group label.control-label:before {
        content: ":";
    }
    .form-group label.control-label{
        direction: rtl;
    }
}
@media screen and (max-width: 991px) {
    .form-group label.control-label{
        direction: ltr;
    }

    .form-group label.control-label:after {
        content: ":";
    }
}

.no-padding {
    padding: 0px !important;
}

.tabulator {
    padding-left: 20px;
}

/*.firstLetterUp:first-letter {
    text-transform: uppercase;
}*/
select.firstLetterUp > option::first-letter {
    text-transform: uppercase;
}






/*
        Ratings Stars
        (with as little code as possible)
*/
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: x-large;
    cursor: pointer;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span.selected,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before {
    text-shadow: 3px 3px 5px #ff0000;
}
.rating > span:hover:before,
.rating > span.selected:before,
.rating > span:hover ~ span:before,
.rating:hover > span.selected:hover:before,
.rating:hover > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0; 
    color: gold;
}

.rating:hover > span.selected:before {
    color: black;
}

