<!--RIGHT - {{news}}-->
<div>
    <h4 class="text-left" translate="shared.news.main_FAQ_title">    </h4>
    <div ng-repeat="(key, category) in faqs" class="new-panel">
        <div class="new-header">
            <button class="btn btn-primary btnTitle" type="button" ng-click="category.isOpen = !category.isOpen">
                <span class="h4" translate="{{'shared.news.faqCategories.' + key}}"></span>
            </button>
        </div>
        <div class="new-content" ng-class="{
                'open'
                : category.isOpen}">
            <div class="new-well faq">
                <div ng-repeat="(idx, ppFAQ) in category" class="new-panel">
                    <div class="new-header">
                        <button class="btn btn-primary btnTitle" type="button" ng-click="ppFAQ.isOpen = !ppFAQ.isOpen">
                            <span class="h4">{{(idx + 1) + ". " + ppFAQ.title}}</span>
                        </button>
                    </div>
                    <hr>
                    <div class="new-content" ng-class="{
                        'open'
                        : ppFAQ.isOpen}">
                        <div class="new-well" >

                            <p ng-bind-html="ppFAQ.content" ng-if="ppFAQ.isBinding"></p>
                            <p ng-if="!ppFAQ.isBinding">
                                {{ppFAQ.content}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>