<div class="form-group">
    <label class="control-label col-md-3 firstLetterUp" for="message">{{label}}</label>
    <div class="col-md-9"><div class="rating">
            <span ng-click="setStar(i)" ng-class="{'selected':isLessStar(i)}" ng-repeat="i in options track by i">☆</span>
        </div>
    </div>
</div>