<div class="form-group">
    <label class="control-label col-md-3 firstLetterUp" for="message">{{label}}</label>
    <div class="col-md-9 text-center">
        <input
            bs-switch
            ng-model="data[variable]"
            type="checkbox"
            switch-on-text="{{ 'common.YES' |translate | uppercase }}"
            switch-off-text="{{ 'common.NO' |translate | uppercase}}"

            switch-size="md"
            />
    </div>
</div>