<div class="form-group">
    <label class="control-label col-md-3 firstLetterUp" for="message">{{label}}</label>
    <div class="col-md-9">
        <textarea class="form-control" rows="3" id="message" ng-model="data[variable]">
        </textarea>
    </div>
</div>