<div id="header" class="modal-header">
    <h3 class="modal-title" > 
        {{ ('components.practice.finish.stage' + stage + '.title' )| translate}}
    </h3>
</div>
<div class="modal-body">
    <div class="modal-body">
        <div ng-include="'components/practice/finish/finish-practice-stage' + stage + '.html'" ></div>

        <div class="form-group">
            <div class="pull-right">
                <button class="btn btn-success" ng-click="submit()" type="button" translate="common.OK"></button>
                <button class="btn btn-warning" ng-click="cancel()" type="reset" translate="common.back"></button>
            </div>
        </div>
    </div> 
</div>