<div>
    <p translate="components.practice.finish.stage2.info1"></p>
    <p translate="components.practice.finish.stage2.info2"></p>
    <p translate="components.practice.finish.stage2.info3"></p>
</div>
<form class="form-horizontal">   
    <div class="form-group validation-group">
        <label  class="col col-sm-2 control-label firstLetterUp" translate="components.practice.finish.stage2.subjects"></label>
        <div class="col col-sm-10" style="margin-bottom: 20px;">
            <div  isteven-multi-select
                  input-model="lessons"
                  output-model="required"
                  button-label="name"
                  item-label="index name"
                  tick-property="ticked"
                  on-item-click="lessonSelected( data )"
                  >
            </div>
        </div>
        <question-description   ng-repeat="(key, lesson) in lessonsSelected track by $index" ng-if="lesson.active"
                                label="{{lesson.name}}" data="lesson" variable="description">
        </question-description>
    </div>
</form>