<form class="form-horizontal" action="api/auth" method="POST" id="loginForm" >    
    <div class="form-group">
        <label class="control-label col-md-3" for="login" translate="common.user.login"  ></label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="login" id="login">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3" for="password" translate="common.user.password"></label>
        <div class="col-md-7">
            <input type="password" class="form-control" name="password" id="password">
        </div>
    </div>
    <!--    <div class="form-group">
            <div class="col-md-7 col-md-offset-3">
                <div class="checkbox inline">
                    <label>
                        <input type="checkbox" id="inlineCheckbox1" value="agree"> Zapamiętaj hasło
                    </label>
                </div>
            </div>
        </div> -->
    <div class="form-group">
        <div class="pull-right">
            <button class="btn btn-success" type="submit" translate="common.OK"></button>
            <button class="btn btn-warning" ng-click="cancel()" type="reset" translate="common.back"></button>
        </div>
    </div>
</form>