<div id="header" class="modal-header">
    <h3 class="modal-title" translate="shared.login.title" ></h3>
</div>
<div class="modal-body">
    <div class="modal-body">
        <div class="form">
            <login-form> </login-form>
        </div> 
    </div>      
</div>
<div class="modal-footer">
    <p> <span translate="common.user.no_account"></span>  <a ui-sref="app.register" ng-click="cancel();" translate="common.user.register_start"> </a></p>
</div>