<div id="header" class="modal-header">
    <h3 class="modal-title">Zaopiniuj portal</h3>
</div>
<div class="modal-footer">
    <p> Nie masz konta? <a ui-sref="app.register" ng-click="cancel();">Zarejestruj się.</a></p>
</div>