<div>
    <div>
        {{filter.speciality}}
        <div class="form-group validation-group pull-right">
            <div class="col col-sm-10">
                <select class="form-control" id="speciality" name="speciality" ng-model="filter.speciality">
                    <option value="" selected>Wszystkie</option>
                    <option ng-repeat="facultity in availableFacultities" value="{{facultity}}">{{'facultities.' + facultity| translate}}</option>
                </select>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
        <th  width="10%"> Indeks PG </th>
        <th> Nazwa użytkownika</th>
        <th> Imię</th>
        <th> Nazwisko</th>
        <th> Specjalizacja</th>
        <th width="98px">  </th>
        </thead>
        <tr ng-repeat="student in foundStudents| propsFilter:{speciality : filter.speciality} track by $index ">
            <td class="text-center"> {{student.PG_INDEX}} </td>
            <td> {{student.nickName}} </td>
            <td> {{student.name}} </td>
            <td> {{student.surname}} </td>
            <td> {{'facultities.' + student.speciality| translate}} </td>
            <td>
                <a class="btn btn-default" ui-sref="app.student.startPractice({nickName: student.nickName})" >
                    <i class="fa fa-play" title="Start practice"></i>
                </a>
                <a class="btn btn-default" ui-sref="app.student.create({nickName: student.nickName})" >
                    <i class="fa fa-pencil" title="Update practice"></i>
                </a>
            </td>
        </tr>
    </table>
</div>