<div class="pp-panel">
    <div >
        <h2 class="text-center" translate="shared.register.title">  </h2>

        <form class="col col-lg-6 col-md-8 col-sm-12 form-horizontal" novalidate name="createStudentForm">
            <div class="form-group validation-group" ng-if="!updateMode">
                <label class="control-label col col-sm-2" translate="common.user.login" ></label>
                <div class="col col-sm-10">
                    <input name="nickname" id="nickname" class="form-control" placeholder="{{'common.user.login'| translate}}"
                           type="text" ng-model="newStudent.nickname"  
                           validation="required
                           |pattern=/^[a-zA-Z][a-zA-Z0-9_-]{4,12}$/:alt=Login musi składać się z 5-13 znaków i rozpoczynać literą alfabetu łacińskiego
                           |remote:checkUsernameUsed"/>
                </div>
            </div>
            <div class="form-group validation-group"  ng-if="!updateMode">
                <label  class="control-label col col-sm-2" translate="common.user.password"></label>
                <div class="col col-sm-10">
                    <input name="password"  class="form-control" placeholder="{{'common.user.password_placeholder'| translate}}" 
                           type="password" ng-model="newStudent.password"  
                           validation="required
                           |pattern=/^[a-zA-Z0-9_-]{6,12}$/:alt=Hasło musi składać się z 6-12 znaków(a-Z 0-9 _-)
                           "/>
                    <!--|pattern=/^[a-zA-Z0-9_-!?;:]{6,12}$/:alt=Hasło musi składać się z 6-12 znaków-->
                </div>
            </div>
            <div class="form-group validation-group"  ng-if="!updateMode">
                <label  class="control-label col col-sm-2" translate="common.user.passwordConfirm"></label>
                <div class="col col-sm-10">
                    <input name="confirm"  class="form-control" placeholder="{{'common.user.passwordConfirm_placeholder'| translate}}"
                           type="password" ng-model="newStudent.confirm"  validation="required|match:newStudent.password,Hasło"/>
                </div>
            </div>

            <div class="form-group validation-group"  ng-if="!updateMode">
                <label  class="control-label col col-sm-2" translate="common.user.PGIndex"></label>
                <div class="col col-sm-10">
                    <input  name="GUTIndex" class="form-control" placeholder="{{'common.user.PGIndex_placeholder'| translate}}"
                            type="number" ng-model="newStudent.PGIndex"  validation="required|number|remote:checkPGIndexUsed"/>
                </div>
            </div>
            <div class="form-group validation-group">
                <label  class="control-label col col-sm-2" translate="common.user.firstName"></label>
                <div class="col col-sm-10">
                    <input name="name"  class="form-control" placeholder="{{'common.user.firstName_placeholder'| translate}}"
                           type="text" ng-model="newStudent.firstName"  validation="required"/>
                </div>
            </div>
            <div class="form-group validation-group">
                <label class="control-label col col-sm-2"  translate="common.user.lastName"></label>
                <div class="col col-sm-10">
                    <input name="surname"  class="form-control" placeholder="{{'common.user.lastName_placeholder'| translate}}"
                           type="text" ng-model="newStudent.lastName"  validation="required"/>
                </div>
            </div>

            <div class="form-group validation-group">
                <label class="control-label col col-sm-2" translate="common.user.mail"></label>
                <div class="col col-sm-10">
                    <input name="mail" class="form-control"  placeholder="{{'common.user.mail_placeholder'| translate}}"
                           type="text" ng-model="newStudent.mail"  validation="email|required"/>
                </div>
            </div>

            <div class="form-group validation-group">
                <label class="control-label col col-sm-2" translate="common.user.speciality"></label>
                <div class="col col-sm-10">
                    <select class="form-control" id="speciality" name="speciality" ng-model="newStudent.speciality" validation="required">
                        <option value="" disabled selected translate="common.user.speciality_placeholder"></option>
                        <option ng-repeat="facultity in availableFacultities" value="{{facultity}}">{{'facultities.' + facultity| translate}}</option>
                    </select>
                </div>
            </div>

            <button type="button" ng-click="update()"  ng-disabled="loading" ng-if="updateMode" class="btn-lg btn-success pull-right">Aktualizacja</button>
            <button type="button" ng-click="register()"  ng-disabled="loading" class="btn-lg btn-success pull-right" translate="common.user.register"></button>
        </form>
        <div class="clearfix"></div>
    </div>
</div>