<div id="header" class="modal-header">
    <h3 class="modal-title firstLetterUp" translate="shared.news.create_title"></h3>
</div>
<div class="modal-body">
    <div class="modal-body">
        <form class="form-horizontal" name="newCreateForm">    
            <div class="form-group validation-group">
                <label class="control-label col-md-2 firstLetterUp" for="title"translate="shared.news.title"></label>
                <div class="col-md-10">
                    <input class="form-control" id="title" ng-model="nnew.title" name="title"  validation="required"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2 firstLetterUp" for="content" translate="shared.news.content"></label>
                <div class="col-md-10">
                    <div text-angular ng-model="nnew.content"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-success firstLetterUp" ng-click="submit()" type="button" translate="common.OK"></button>
                    <button class="btn btn-warning firstLetterUp" ng-click="cancel()" type="reset" translate="common.back"></button>
                </div>
            </div>
        </form>
    </div> 
</div>