<div class="new-header">
    <button class="btn btn-primary btnTitle col col-sm-8" type="button" ng-click="oneNew.isOpen = !oneNew.isOpen">
        <span class="h4">{{oneNew.title}}</span>
    </button>
    <div class="new-author col col-sm-4"> 
        <div ng-if="oneNew.createDate"> {{oneNew.createDate| date:'customDate'}} </div>
        <div ng-if="oneNew.author"> <b translate="shared.news.by"></b> {{oneNew.author}} </div>
    </div> 
    <div class="clearfix"></div>
</div>
<hr>
<div class="new-content" ng-class="{'open' : oneNew.isOpen}">
    <div class="new-well">
        <p ng-bind-html="oneNew.content">
        </p>
    </div>
    <div class="clearfix"></div>
</div>