<!--RIGHT - {{news}}-->
<div>
    <h4 class="text-left firstLetterUp" translate="shared.news.main_title"></h4>
    <div class="text-center" ng-if="isKoord">
        <button class="btn btn-success firstLetterUp" ng-click="createNew()" translate="shared.news.new">  </button>
        <!--<button class="btn btn-success" >Zarządzaj </button>-->
    </div>


    <div ng-repeat="(idx, ppNew) in news | orderBy:'-createDate'" class="new-panel" ng-if="!ppNew.removed">
        <div new-simple one-new="ppNew" ng-if="!isKoord" ></div>
        <div new-coord one-new="ppNew" ng-if="isKoord"></div>
    </div>

</div>