<div>

    <table class="table table-bordered">
        <thead>
        <th> Company Name </th>
        <th> Phone number</th>
        <th> Options </th>
        </thead>
        <tr ng-repeat="company in foundCompanies track by $index">
            <td>                {{company.companyName}}            </td>
            <td>                {{company.phoneNumber}}            </td>
            <td>
                <a class="btn btn-default" ng-click="removeCompany(company.companyName)" >
                    <i class="fa fa-remove" title="Remove company"></i>
                </a>
            </td>
        </tr>
    </table>
</div>