 <p class="input-group">
    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date" is-open="status.opened"  max-date="maxDate" min-date="minDate" datepicker-options="dateOptions"  close-text="{{ 'common.action.close' |transate | capitalizeFirst}}" id="birthDate" placeholder="{{'common.datepicker.' + placeholder | translate}}" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</p>