<div>
    <h3 translate="components.main.coordinator_welcome">

    </h3>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab" 
                   translate="components.main.coordinator_practices_tab"></a></li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"
                   translate="components.main.coordinator_opinions_tab"></a></li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"
                   translate="components.main.coordinator_news_tab"></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <practice-list></practice-list> 
            </div>
            <div role="tabpanel" class="tab-pane" id="profile"> 
                <company-opinion> </company-opinion>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <news class="col col-xs-12 center-content">
                </news>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>