<div>
    <div class="col col-md-6 col-xs-12 center-content pp-panel pull-right">
        <news >
        </news>
    </div>
    <div class="col col-md-6 col-xs-12 center-content pp-panel pull-right">
        <div class="text-left">

            <h3 class="text-left" translate="components.main.student_welcome" translate-values="{name : userName}">
                <!--        Witaj, {{userName}}-->
            </h3>
            <div ng-if="practice === null">
                <p class="tabulator" translate="components.main.unregistred_practice"></p>
                <practice-start nick-name="userName"></practice-start>
                <div class="clearfix"></div>
            </div>
            <div ng-if="practice">
                <p class="tabulator"translate="components.main.registred_practice"></p>
                <practice-show practice="practice"></practice-show>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>