<div>
    <div class="col col-md-6 col-xs-12 center-content pp-panel pull-right">
        <news >
        </news>
    </div>
    <div class="col col-md-6 col-xs-12 center-content pp-panel pull-right">
        <h2 translate="components.main.unregistred_welcome"></h2>
        <div class="btn-group btn-spliced">
            <!--<a> zaloguj się </a>-->
            <button class="btn btn-success" ng-click="openLoginDialog()" translate="components.main.log_in"></button>
            <!--Jeśli chcesz rozpocząć proces rejestracji swojej praktyki <a> zarejestruj się </a>-->
            <button class="btn btn-success" ui-sref="app.register" translate="components.main.register"></button>
        </div>
        <div>
            <faqs></faqs>
        </div>
    </div>
    <div class="clearfix"></div>
</div>