<div class="input-group">
    <span class="input-group-btn">
        <div class="btn btn-info" ngf-select ng-model="files.selected" name="files" ngf-pattern=" 'application/pdf,application2/pdf,x-application/pdf,image/*' "
            accept="application/pdf,application2/pdf,x-application/pdf,image/*" ngf-max-size="5MB"  ngf-multiple="false"
            
            ngf-max-files="maxAmount" ngf-capture="'camera'">  Browse&hellip;</div>
    </span>
    <span type="text" class="form-control"> Wybrano {{files.selected.length}} plik(ów)  </span>
</div>
<div class="col col-md-12" ng-if="files.selected.length !== 0">
    <label class="control-label col-md-4 h4" for="name">Wybrane pliki</label>
    <div class="col col-md-12">
        <div  class="text-left" ng-repeat="file in files.selected">
            {{file.name}}
        </div> 
    </div>
</div>

