
<div>
    <p translate="components.practice.finish.stage1.info1"></p>
    <p translate="components.practice.finish.stage1.info2"></p>
    <p translate="components.practice.finish.stage1.info3"></p>
    <p translate="components.practice.finish.stage1.info4"></p>
    <p><b translate="components.practice.finish.stage1.info5"></b></p>
</div>

<form class="form-horizontal">    
    <div ng-repeat="question in questions">
        <question-stars ng-if="question.type === 'STARS'" label="{{('QUESTIONNAIRE.' + question.id) | translate}}" count-of-options="5" data="questionnaire.questions" variable="{{question.id}}"></question-stars>
        <question-description ng-if="question.type === 'DESCRIPTION'" label="{{('QUESTIONNAIRE.' + question.id) | translate}}" data="questionnaire.questions" variable="{{question.id}}"></question-description>
        <question-boolean ng-if="question.type === 'BOOLEAN'" label="{{('QUESTIONNAIRE.' + question.id) | translate}}" data="questionnaire.questions" variable="{{question.id}}"></question-boolean>
    </div>
</form>