<div id="header" class="modal-header">
    <h3 class="modal-title firstLetterUp" translate="components.company.register_title"></h3>
</div>
<div class="modal-body">
    <create-company> </create-company>
    <div class="clearfix" > </div>
</div>