<div>
    <div class="shaped">
        <div style="height: 100%; vertical-align: bottom">

            {{user.username || 'unlogged'}}
            <div class="pull-right">
                <i class="fa fa-sign-out" aria-hidden="true" ng-click="logout()"></i>
            </div>
        </div>
    </div>
</div>