<div>

    <button class="btn-lg btn-primary" ui-sref="app.company.create">Dodaj firmę</button>

    <button class="btn-lg btn-primary" ui-sref="app.company.list">Lista firm</button>

    <button class="btn-lg btn-primary" ui-sref="app.company.stats">Statystyki firm</button>

    <div ui-view class="ui-view-class"></div>    
</div>