<div>
    <form class="col col-lg-6 col-md-8 col-sm-12 form-horizontal" novalidate name="createStudentForm">
        <div class="form-group validation-group" ng-if="!updateMode">
            <label class="col col-sm-2">Nickaname:</label>
            <div class="col col-sm-10">
                <input name="nickname"  class="form-control" placeholder="Nickname..."
                       type="text" ng-model="newStudent.nickname"  validation="required|remote:checkUsernameUsed"/>
            </div>
        </div>
        <div class="form-group validation-group"  ng-if="!updateMode">
            <label  class="col col-sm-2">Password:</label>
            <div class="col col-sm-10">
                <input name="password"  class="form-control" placeholder="Hasło..."
                       type="password" ng-model="newStudent.password"  validation="required"/>
            </div>
        </div>

        <div class="form-group validation-group"  ng-if="!updateMode">
            <label  class="col col-sm-2">PG Index:</label>
            <div class="col col-sm-10">
                <input  name="GUTIndex" class="form-control" placeholder="Index..."
                        type="number" ng-model="newStudent.PGIndex"  validation="required|number|remote:checkPGIndexUsed"/>
            </div>
        </div>
        <div class="form-group validation-group">
            <label for="name" class="col col-sm-2">Imię:</label>
            <div class="col col-sm-10">
                <input name="name"  class="form-control" placeholder="Imię..."
                       type="text" ng-model="newStudent.firstName"  validation="required"/>
            </div>
        </div>
        <div class="form-group validation-group">
            <label for="surname" name="surname" class="col col-sm-2">Nazwisko:</label>
            <div class="col col-sm-10">
                <input name="surname"  class="form-control" placeholder="Nazwisko..."
                       type="text" ng-model="newStudent.lastName"  validation="required"/>
            </div>
        </div>

        <div class="form-group validation-group">
            <label for="mail" class="col col-sm-2">E-mail:</label>
            <div class="col col-sm-10">
                <input name="mail" class="form-control" placeholder="Mail..." 
                       type="text" ng-model="newStudent.mail"  validation="email|required"/>
            </div>
        </div>

        <div class="form-group validation-group">
            <label for="speciality" class="col col-sm-2">Specjalizacja:</label>
            <div class="col col-sm-10">
                <select class="form-control" id="speciality" name="speciality" ng-model="newStudent.speciality" validation="required">
                    <option value="" disabled selected>Specializacja...</option>
                    <option ng-repeat="facultity in availableFacultities" value="{{facultity}}">{{'facultities.' + facultity | translate}}</option>
                </select>
            </div>
        </div>



        <button type="button" ng-click="update()" ng-if="updateMode" class="btn-lg btn-success pull-right">Update student</button>
        <button type="button" ng-click="register()" ng-if="!updateMode" class="btn-lg btn-success pull-right">Register student</button>
    </form>

</div>