<div>

    <button class="btn-lg btn-primary" ui-sref="app.student.create">Dodaj studenta</button>

    <button class="btn-lg btn-primary" ui-sref="app.student.list">Lista studentów</button>

    <div ui-view class="ui-view-class"></div>    
</div>