<div id="header" class="modal-header">
    <h3 class="modal-title firstLetterUp" translate="components.practice.BHP.title"></h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">    
        <div class="form-group validation-group">
            <label class="control-label col-md-3 firstLetterUp" translate="components.practice.BHP.city" for="city" ></label>
            <div class="col col-md-9">
                <input ng-model="BHP.city" id="city" class="form-control">
            </div>
        </div>
        <div class="form-group validation-group">
            <label  class="col col-md-3 control-label firstLetterUp" translate="components.practice.BHP.date"></label>
            <div class="col  col-md-9" date-picker date="BHP.date"></div>
        </div>
        <div class="form-group validation-group">
            <label class="control-label col-md-3  firstLetterUp" translate="components.practice.BHP.employee" for="employee"></label>
            <div class="col col-md-9">
                <input ng-model="BHP.employee" id="employee" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <button class="btn btn-success" ng-click="submit()" type="button" translate="common.OK"></button>
                <button class="btn btn-warning" ng-click="cancel()" type="reset" translate="common.back"></button>
            </div>
        </div>
    </form>
</div>