<div id="header" class="modal-header">
    <h3 class="modal-title firstLetterUp" translate="components.practice.describe.title"></h3>
</div>
<div class="modal-body">
    <div class="modal-body">
        <form class="form-horizontal">    
            <div class="form-group validation-group">
                <label  class="col col-md-3 control-label firstLetterUp" translate="components.practice.describe.stage"></label>
                <div class="col col-md-9">
                    <input  name="week" class="form-control" placeholder="{{'components.practice.describe.stage_placeholder' | translate}}" ng-disabled="newDescription.week"
                            type="number" ng-model="newDescription.week"  validation="required|number"/>
                </div>
            </div>
            <div class="form-group validation-group" >
                <label  class="col col-md-3 control-label firstLetterUp" translate="components.practice.describe.relation"></label>
                <div class="col col-md-9">
                    <textarea name="note"  class="form-control" placeholder="{{'components.practice.describe.relation_placeholder' | translate}}"
                              ng-model="newDescription.note"  validation="required" rows="8"></textarea>
                </div>
            </div>
            <div class="form-group validation-group">
                <label  class="col col-md-3 control-label firstLetterUp" translate="components.practice.describe.skills"></label>
                <div class="col col-md-9">
                    <p class="input-group"   ng-repeat="skill in newDescription.skills track by $index">
                        <input name="note"  class="form-control" placeholder=" {{('components.practice.describe.skill' | translate | capitalizeFirst) + ' ' + $index}}..."
                               type="text" ng-model=" newDescription.skills[$index]"  ng-keydown="inputPressed($event)" validation="required"/>
                        <span class="input-group-btn" style="vertical-align: top;" >
                            <a  class="btn btn-danger" ng-click="removeSkill($index)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </a>
                        </span>
                    </p>
                    <a  class="btn btn-success pull-right" ng-click="addSkill()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="submit()" type="button" translate="common.OK"></button>
                    <button class="btn btn-warning" ng-click="cancel()" type="reset" translate="common.back"></button>
                </div>
            </div>
        </form>
    </div> 
</div>