<div id="header" class="modal-header">
    <h3 class="modal-title  firstLetterUp" translate="components.practice.message.title"></h3>
</div>
<div class="modal-body">
        <form class="form-horizontal">    
            <div class="form-group validation-group">
                <label class="control-label col-md-3 firstLetterUp" for="status" translate="components.practice.status" ></label>
                <div class="col-md-7">
                    <select ng-options="status as 'status.' + status |  translate for status in statuses" class="form-control" 
                            ng-model="description.selectedStatus"  name="status" id="status" validation="required">
                        <option value='' disabled selected ng-if="!selectedStatus" class="firstLetterUp" translate="components.practice.message.status_placeholder"></option>
                    </select>
                </div>
            </div>
            <div class="form-group" ng-if="description.selectedStatus === 'REJECTED'">
                <label class="control-label col-md-3" for="message" translate="components.practice.message.reason" ></label>
                <div class="col-md-7">
                    <textarea class="form-control" rows="3" id="message" ng-model="description.message">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="submit()" type="button" translate="common.OK"></button>
                    <button class="btn btn-warning" ng-click="cancel()" type="reset" translate="common.back"></button>
                </div>
            </div>
        </form>
    </div> 