<div>
    <div>
        <h4> 
            <span class="label" ng-class="{
            'label-warning' : status==='NEW',
            'label-success' : status==='APPROVED',
            'label-danger' : status==='REJECTED',
            'label-primary' : status==='FINISHED',

        }">{{'status.'+status | translate}}        </span>
        </h4>  
    </div>
    <div ng-if="status==='DURING'">

    </div>
    <div ng-if="status==='ARCHIVE'">

    </div>
</div>