<div id="header" class="modal-header">
    <h3 class="modal-title  firstLetterUp" translate="components.practice.upload.title"></h3>
</div>
<div class="modal-body">
    <div class="form-group validation-group">
        <label class="control-label col-sm-3 firstLetterUp" for="status" translate="components.practice.upload.type" ></label>
        <div class="col-sm-9">
            <select ng-options="type as 'document_type.' +     type |      translate for type in FILE_TYPES" class="form-control firstLetterUp" 
                    ng-model="files.type"  name="status" id="status" validation="required">
                <option value='' disabled selected ng-if="!selectedStatus" class="firstLetterUp" translate="components.practice.upload.type_placeholder"></option>
            </select>
        </div>
        <span translate="components.practice.upload.info"></span>
    </div>
    <div class="form-group">
        <file-loader files="files" max-amount="{{maxSize}}" broadcast="FILE_UPLOAD_BROADCAST_MSG"></file-loader>
    </div>

    <div class="form-group">
        <div class="pull-right">
            <button class="btn btn-success" ng-click="submit()" type="button" translate="common.OK"></button>
            <button class="btn btn-warning" ng-click="cancel()" type="reset" translate="common.back"></button>
        </div>
    </div>
    <div class="clearfix"></div>
</div> 